.abTestimonialCard{
	display: flex;
	flex-direction: column;
	align-content: center;
}

.abTestimonialCard img.abTestimonialImage{
	width: 128px;
	height: 128px;
	margin: 0 auto;
	position:relative;
}

.abTestimonialCard .abTestimonialText{
	font-size:1.25rem;
	line-height:1.5;
	margin-bottom:3rem;
}

.abTestimonialCard .abTestimonialUserName, 
.abTestimonialCard .abTestimonialUserJobTitle{
	display:block;
}

.abTestimonialCard .abTestimonialUserName{
	font-weight:bold;
}

.abTestimonialCard .abTestimonialUserJobTitle{
	font-style:italic;
}

@media screen and (max-width:480px){
.abTestimonialCard{
margin:1rem auto;
}
}