{# start configuration #}
{% if module.dateformat == "year" %}
{% set datetime = '%Y' %}
{% elif module.dateformat == "month/year" %}
{% set datetime = '%m/%Y' %}
{% else %}
{% set datetime = '%m.%Y' %}
{% endif %}


{# end configuration #}

{# start styling #}
{% require_css %}
<style>
	.abTimeline{
		max-width:{{ module.style.timeline_width ~ 'px' }}
	}
	
	.abDateWrapper{
		{{ module.style.date_spacing.css }}
		{% if module.style.use_card_layout %}
		    {{ module.style.card_spacing.css }}
		background: rgba({{ module.style.card_background_color.color|convert_rgb ~ ' ,' ~ module.style.card_background_color.opacity/100}})
		{% endif %}
	}
	@media screen and (min-width:{{ module.style.timeline_width ~ 'px' }}){
	.right{
		align-items: flex-end;
	}

	.left{
		align-items: flex-start;
	}
}
</style>
{% end_require_css %}
{# end styling #}

{# start module #}
<div class="abTimeline">
	{% for single_item in module.timeline_item %}
		<div class="abDateWrapper{% if module.change_directions %} {{loop.cycle('left','right')}}{% endif %}">
			{# start date #}
			<time class="abTimelineDate">
				{% if single_item.date_format == "year" %}
				{{ single_item.first_date|datetimeformat(datetime) }}
				{% elif single_item.date_format == "years" %}
				{{ single_item.first_date|datetimeformat(datetime) }} - {{ single_item.second_date|datetimeformat(datetime) }}
				{% else %}
				{{ single_item.first_date|datetimeformat(datetime) }} - {{ single_item.text }}
				{% endif %}
			</time>
			{# end date #}
			{# start headline #}
			{% unless single_item.headline == "" %}
			<span class="abTimelineHeadline">{{ single_item.headline }}</span>
			{% endunless %}
			{# end headline #}
			{# start subline #}
			{% unless single_item.subline == "" %}
			<div class="desc">{{ single_item.subline }}</div>
			{% endunless %}
			{# end subline #}
		</div>
	{% endfor %}
</div>
{# end module #}