.abDateWrapper{
	    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
}

.right,
.left{
	align-items: flex-start;
}

time{
	display:block;
	font-weight:bold;
	font-size:.75rem;
	margin-bottom:.75rem;
	line-height:135%;
}

.abTimelineHeadline{
	font-size:1.375rem;
	margin-bottom:.5rem;
	line-height:135%;
}

